policy_module(ibacoin, 1.100.1)

########################################
#
# Declarations
#

type ibacoin_t;
type ibacoin_exec_t;
init_daemon_domain(ibacoin_t, ibacoin_exec_t)

permissive ibacoin_t;

type ibacoin_initrc_exec_t;
init_script_file(ibacoin_initrc_exec_t)

type ibacoin_conf_t;
files_type(ibacoin_conf_t)

type ibacoin_var_lib_t;
files_type(ibacoin_var_lib_t)

type ibacoin_var_run_t;
files_type(ibacoin_var_run_t)

type ibacoin_port_t;
corenet_port(ibacoin_port_t)

########################################
#
# ibacoin local policy
#
allow ibacoin_t self:process { fork };

allow ibacoin_t self:fifo_file rw_fifo_file_perms;
allow ibacoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(ibacoin_t, ibacoin_conf_t, ibacoin_conf_t)
manage_files_pattern(ibacoin_t, ibacoin_conf_t, ibacoin_conf_t)

manage_dirs_pattern(ibacoin_t, ibacoin_var_lib_t, ibacoin_var_lib_t)
manage_files_pattern(ibacoin_t, ibacoin_var_lib_t, ibacoin_var_lib_t)
files_var_lib_filetrans(ibacoin_t, ibacoin_var_lib_t, { dir file })

manage_dirs_pattern(ibacoin_t, ibacoin_var_run_t, ibacoin_var_run_t)
manage_files_pattern(ibacoin_t, ibacoin_var_run_t, ibacoin_var_run_t)

sysnet_dns_name_resolve(ibacoin_t)
corenet_all_recvfrom_unlabeled(ibacoin_t)

allow ibacoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(ibacoin_t)
corenet_tcp_sendrecv_generic_node(ibacoin_t)
corenet_tcp_sendrecv_all_ports(ibacoin_t)
corenet_tcp_bind_generic_node(ibacoin_t)

gen_require(`
    type ibacoin_port_t;
')
allow ibacoin_t ibacoin_port_t:tcp_socket name_bind;

gen_require(`
    type ibacoin_port_t;
')
allow ibacoin_t ibacoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(ibacoin_t)

files_read_etc_files(ibacoin_t)

miscfiles_read_localization(ibacoin_t)

sysnet_dns_name_resolve(ibacoin_t)

allow ibacoin_t ibacoin_exec_t:file execute_no_trans;
allow ibacoin_t self:process setsched;
corecmd_exec_ls(ibacoin_t)
corenet_tcp_connect_http_port(ibacoin_t)
dev_read_urand(ibacoin_t)
fs_getattr_xattr_fs(ibacoin_t)
kernel_read_system_state(ibacoin_t)
