# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=IBA Coin
Comment=IBA Coin QT test network
GenericName=IBACoin Digital Currency QT client testnet network
Exec=ibacoin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ibacoin_testnet.png
MimeType=x-scheme-handler/iba;
Categories=X-Office;X-Finance;
Keywords=internet;ibacoin;tiba;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
